# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node/Vue
node_modules/
dist/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Local media
*.mp3
*.wav

# Databases
*.db
backend/chat_database.db
